@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: black;
}
.bg__overlay{
    background-image: linear-gradient(to right,rgba(23, 23, 23, 0.192), rgba(253, 0, 0, 0.788));
}

.text-gold {
    color: #ff0000; /* Golden color */
    text-shadow: 0 0 5px #FFD700, 0 0 10px #FFD700, 0 0 15px #FFD700, 0 0 20px #FFD700;
    background: linear-gradient(135deg, #FFD700, #FFBF00); /* Optional: gradient background for more depth */
    background-clip: text;
  }
  @keyframes gradient-animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  .animate-gradient {
    animation: gradient-animation 5s infinite;
    background-size: 200% 200%;
  }
.clipped_arrow{
    width: 50px;
    height: 70px;
    background: red;
    clip-path: polygon(26% 0, 72% 0, 64% 67%, 100% 69%, 56% 100%, 0 70%, 39% 68%);
}